@font-face { font-family:'DepartureMono'; src:url('../fonts/DepartureMono-Regular.woff2') format('woff2'); font-display:block; }
@font-face { font-family:'Basteleur'; src:url('../fonts/basteleur-moonlight.woff2') format('woff2'); font-display:block; }
